.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-chip-list {
  width: 100%;
  font-size: 0.75em;
}

.setting-bottom {
  border-bottom: 1px solid skyblue
}

.submit-button {
  width: 100%;
}
