<!--The content below is only a placeholder and can be replaced.-->
<script src="app.component.ts"></script>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<!--<input id="fileInput" name="file" type="file" class="ng-hide" multiple>-->
<!--<button mat-button id="uploadButton" color="primary"> Choose Files</button>-->
<label for="singleFile">Upload file</label>
<input id="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue"/>
<br>

<mat-file-upload-queue #fileUploadQueue
                       [fileAlias]="'file'"
                       [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">

  <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
</mat-file-upload-queue>

<mat-form-field>
  <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
    <mat-select-trigger>
      {{toppings.value ? toppings.value[0] : ''}}
      <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
<router-outlet></router-outlet>


<p>{{version}}</p>
